@import url('./__description/profile__description.css');
@import url('./__add-button/profile__add-button.css');
@import url('./__edit-button/profile__edit-button.css');
@import url('./__info/profile__info.css');
@import url('./__title/profile__title.css');
@import url('./__image/profile__image.css');

.profile {
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 36px 0;
  /*Если подгонять под ПЭПЭ, то тут padding: 40px 0; Проявите лоялити*/
}

@media screen and (max-width: 480px) {
  .profile {
    padding: 43px 0;
    flex-direction: column;
    text-align: center;
  }
}

.profile__image-container {
  inline-size: fit-content;
  block-size: fit-content;
  position: relative;
  cursor: pointer;
}

.profile__image-container:hover .profile__image-overlay {
  visibility: initial;
  opacity: 1;
  transition:
    visibility 0.3s,
    opacity 0.6s;
}

.profile__image-overlay {
  inline-size: 120px;
  block-size: 120px;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  font-family: "Inter", Arial, sans-serif;
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0.3s,
    opacity 0.6s;
  background-image: url(../../images/edit-icon.svg);
  background-repeat: no-repeat;
  background-size: 26px;
  background-position: center;
}
